//変数定義
$marginTopNormal: 2rem;
$marginLeftNormal: 2rem;
$transitionBase: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
$spWidth: 641px;

//mixin定義
@mixin flexSetColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexSetRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin box {
  padding: 2rem 4rem;
  border: 1px rgb(183, 183, 183);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background-color: rgb(255, 255, 255);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  width: 30vw;
  &:hover {
    transform: translateY(-0.25em);
  }
}
@mixin box_SP {
  padding: 2rem 4rem;
  border: 1px rgb(183, 183, 183);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background-color: rgb(255, 255, 255);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  width: 30vw;
  &:active {
    transform: translateY(-0.25em);
  }
}
