@use 'DEFINITION';

.container {
  padding-top: 10rem;
  @include DEFINITION.flexSetColumn;

  .comment {
    margin-top: DEFINITION.$marginTopNormal;
  }

  .linkContainer {
    @include DEFINITION.flexSetColumn;
    margin-top: DEFINITION.$marginTopNormal;
  }
}

//PC、Tab最適化
@media screen and (max-width: 1389px) {
  .container {
    .linkContainer {
      .linkBox {
        width: 50vw;
      }
    }
  }
}
