@use 'DEFINITION';

.container {
  padding-top: 10rem;
  @include DEFINITION.flexSetColumn;

  .comment {
    margin-top: DEFINITION.$marginTopNormal;
  }

  .linkContainer {
    @include DEFINITION.flexSetColumn;
    margin-top: DEFINITION.$marginTopNormal;
    .linkBox {
      @include DEFINITION.flexSetRow;
      @include DEFINITION.box;
      padding: 0;
      margin-top: DEFINITION.$marginTopNormal;
      a {
        padding: 2rem 4rem;
        width: 100%;
        .linkBoxContains {
          @include DEFINITION.flexSetRow;
          .linkBoxLeft {
            height: 50%;
            width: 20%;
            text-align: center;
          }
          .linkBoxRight {
            margin-left: DEFINITION.$marginLeftNormal;
            width: 80%;

            h2 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

//PC、Tab最適化
@media screen and (max-width: 1389px) {
  .container {
    .linkContainer {
      .linkBox {
        width: 50vw;
      }
    }
  }
}

//SP最適化
@media screen and (max-width: 641px) {
  .container {
    .linkContainer {
      .linkBox {
        @include DEFINITION.box_SP;
        width: 80vw;
      }
    }
  }
}
