@use 'DEFINITION';

.container {
  @include DEFINITION.container;

  .comment {
    margin-top: DEFINITION.$marginTopNormal;
  }

  .productDetailContainer {
    @include DEFINITION.box;
    margin-top: DEFINITION.$marginTopNormal;
    width: 50vw;
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    a {
      color: #b3222e;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.linkContainer {
  @include DEFINITION.linkContainer;
}

//SP最適化
@media screen and (max-width: 641px) {
  .container {
    .productDetailContainer {
      width: 80vw;
      a {
        color: #b3222e;
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
