@use 'DEFINITION';

.container {
  @include DEFINITION.container;

  .comment {
    @include DEFINITION.comment;
  }

  .profileContainer {
    @include DEFINITION.flexSetColumn;
    margin-top: DEFINITION.$marginTopNormal;
    width: 50vw;
    .profileBox {
      @include DEFINITION.flexSetRow;
      @include DEFINITION.box;
      display: block;
      padding: 0;
      margin-top: DEFINITION.$marginTopNormal;
      padding: 2rem 4rem;
      width: 100%;
      .profileBoxContains {
        @include DEFINITION.flexSetRow;
        .profileBoxLeft {
          height: 50%;
          width: 20%;
          text-align: center;
        }
        .profileBoxRight {
          margin-left: DEFINITION.$marginLeftNormal;
          width: 80%;
          @include DEFINITION.flexSetRow;
          .boxRightHead {
            width: 50%;
            text-align: center;
            h2 {
              margin-top: DEFINITION.$marginTopNormal;
            }
          }
          .boxRightText {
            width: 50%;
            text-align: left;
            p {
              margin-top: DEFINITION.$marginTopNormal;
            }
          }
          h2 {
            font-size: 2rem;
          }
        }
      }
    }
    .workHead {
      margin-top: DEFINITION.$marginTopNormal;
    }
  }
}

.linkContainer {
  @include DEFINITION.linkContainer;
}

//SP最適化
@media screen and (max-width: 641px) {
  .container {
    .profileContainer {
      .profileBox {
        width: 80vw;
        .profileBoxContains {
          flex-direction: column;
          .profileBoxLeft {
            width: 100%;
            padding-bottom: 2rem;
          }
          .profileBoxRight {
            margin-left: 0;
            .boxRightHead {
              width: 50%;
              h2 {
                font-size: 1.8rem;
              }
            }
            .boxRightText {
              text-align: center;
              width: 50%;
              p {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}
