@use 'DEFINITION';

.container {
  @include DEFINITION.container;

  .comment {
    margin-top: DEFINITION.$marginTopNormal;
  }

  .skillContainer,
  .skillContainerBase {
    @include DEFINITION.flexSetColumn;
    margin-top: DEFINITION.$marginTopNormal;
  }

  .skillContainerBase {
    width: 50vw;
    .skillBox {
      display: block;
    }
  }
}
.linkContainer {
  @include DEFINITION.linkContainer;
}
