@use 'DEFINITION';

.container {
  @include DEFINITION.container;

  .comment {
    margin-top: DEFINITION.$marginTopNormal;
  }

  .skillContainer,
  .skillContainerBase {
    @include DEFINITION.flexSetColumn;

    margin-top: DEFINITION.$marginTopNormal;
  }

  .skillContainerBase {
    @include DEFINITION.box;

    width: 50vw;
    .skillBox {
      display: block;
    }
  }
}
.linkContainer {
  @include DEFINITION.linkContainer;
}

//SP最適化
@media screen and (max-width: 641px) {
  .container {
    .skillContainerBase {
      width: 80vw;
    }
  }
}
