@use 'DEFINITION';

.container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  @include DEFINITION.flexSetColumn;

  .skillContainer,
  .skillContainerBase {
    @include DEFINITION.flexSetColumn;
    margin-top: DEFINITION.$marginTopNormal;
    .skillBox {
      @include DEFINITION.flexSetRow;
      @include DEFINITION.box;
      padding: 0;
      margin-top: DEFINITION.$marginTopNormal;
      padding: 2rem 4rem;
      width: 100%;
      .skillBoxContains {
        @include DEFINITION.flexSetRow;
        .skillBoxLeft {
          height: 50%;
          width: 20%;
          text-align: center;
        }
        .skillBoxRight {
          margin-left: DEFINITION.$marginLeftNormal;
          width: 80%;

          h2 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .skillContainerBase {
    width: 50vw;
    .skillBox {
      display: block;
    }
  }
}
.linkContainer {
  @include DEFINITION.flexSetColumn;
  margin-top: DEFINITION.$marginTopNormal;
}
.pageTop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .pageTopArrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
  }

  &:hover {
    border-color: rgb(46, 132, 161);
    .pageTopArrow {
      border-color: rgb(46, 132, 161);
    }
  }
}

//SP最適化
@media screen and (max-width: 641px) {
  .container {
    .skillContainerBase {
      .skillBox {
        width: 80vw;
        .skillBoxContains {
          flex-direction: column;
          .skillBoxLeft {
            width: 100%;
            padding-bottom: 2rem;
          }
        }
      }
    }
  }
  .pageTop {
    .pageTopArrow {
      &:active {
        border-color: rgb(46, 132, 161);
        .pageTopArrow {
          border-color: rgb(46, 132, 161);
        }
      }
    }
  }
}
