@use '../../styles/DEFINITION.scss';

.linkBox {
  @include DEFINITION.flexSetRow;
  margin-top: DEFINITION.$marginTopNormal;

  a {
    @include DEFINITION.box;
    .linkBoxContains {
      @include DEFINITION.flexSetRow;
      .linkBoxLeft {
        height: 50%;
        width: 20%;
        text-align: center;
      }
      .linkBoxRight {
        margin-left: DEFINITION.$marginLeftNormal;
        width: 80%;

        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}

//SP最適化
@media screen and (max-width: 1370px) {
  .linkBox {
    a {
      width: 40vw;
    }
  }
}
@media screen and (max-width: 910px) {
  .linkBox {
    a {
      width: 50vw;
    }
  }
}
@media screen and (max-width: 780px) {
  .linkBox {
    a {
      width: 70vw;
    }
  }
}
@media screen and (max-width: 641px) {
  .linkBox {
    a {
      width: 80vw;
    }
  }
}
